.header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 40%);
}

.titlediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 24px;
}

.titledivtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  margin-left: 12px;
}

.tooltip {
  z-index: 1151 !important;
}

.sign-button {
  width: 150px;
  margin: 0 auto;
  float: left;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  padding: 0.2em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

@media only screen and (max-device-width: 480px) {
  .product-hunt {
    margin: unset;
  }
  .titlediv {
    padding: 4px 12px;
  }
}
