.titlediv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  h1.title {
    display: inline-block;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    padding: 0px;
    color: black;
  }
  
  .sign-button {
    margin: 10px;
    float: left
  }

  h3.title {
    display: inline-block;
    font-family: "DM Serif Display", sans-serif;
    font-size: 30px;
    padding: 0px;
    margin-bottom: 0px;
  }

  p {
    margin: 10px;
  }

  @media only screen and (max-device-width: 480px) {
    h3.title {
      margin: 0px;
    }
    .titlediv {
      flex-direction: column;
    }
  } 
  