.header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 40%);
}

.titlediv {
  display: flex;
  float: right;
  /*flex-direction: row;*/
  justify-content: space-between;
  padding: 12px 24px;
}

.titledivtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logodiv {
  float: left;
  padding: 12px 24px;
}

.avatar {
  margin-top: 3px;
  margin-left: 12px;
  cursor: pointer;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tooltip {
  z-index: 1151 !important;
}

.sign-button {
  width: 150px;
  margin: 0 auto;
  float: left;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  padding: 0.2em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

@media only screen and (max-device-width: 480px) {
  .product-hunt {
    margin: unset;
  }
  .titlediv {
    padding: 4px 12px;
  }
}

.notify-badge {
    position: absolute;
    background: gainsboro;
    height: 1rem;
    top: -0.2rem;
    left: 0.3rem;
    width: 1rem;
    text-align: center;
    line-height: 0.8rem;;
    font-size: 1rem;
    border-radius: 50%;
    color: black;
    border:1px solid black;
    opacity: 0.0;
}

/*.avatar-div:hover .notify-badge {
  opacity: 1.0;
  z-index: 3;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
*/
/*.avatar-div:hover .avatar {
  opacity: 1.0;
  z-index: 3;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}*/



