.App {
  /* padding: 0px 40px 0px 40px; */
  text-align: center;
  background-color: white;
}
.App-border {
  background-color: black;
  padding: 20px;
}

.Body {
  padding: 40px 40px 0px 40px;
}

.peep1 {
  float: left;
  height: 400px;
  /* padding-top: 40px; */
  padding-left: 40px;
}

.peep2 {
  float: right;
  /* width: 100%;
  height: auto; */
  height: 400px;
  padding-right: 40px;
}

.textbox {
  visibility: hidden;
}

.phone-screen {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .Body {
    display: none;
  }
  .peep1 {
    display: none;
  }
  .peep2 {
    display: none;
  }
  .phone-screen {
    display: block;
  }
  body .otherbody {
    height: 60vh;
  }

  .footer {
    display: none;
  }
}

.toolbar-buttons {
  /* top: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right
}


.below-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: -20px; */
  padding-top: 60px;
}

.privacy-link {
  color: white;
  /* float: right; */
  padding-right: 40px;
}

.otherbody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
}

.copytext {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* 
.not-homepage {
  padding: 40px;
}  */
