.App {
  /* padding: 0px 40px 0px 40px; */
  text-align: center;
  background-color: white;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App-border {
  flex: 1;
  background-color: black;
  padding: 20px 20px 0px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Body {
  flex: 1;
  padding: 20px 20px 0px 20px;
}

.peep1 {
  float: left;
  height: 320px;
  /* padding-top: 40px; */
  padding-left: 100px;
}

.peep2 {
  float: right;
  height: 320px;
  padding-right: 100px;
}

.textbox {
  visibility: hidden;
}

.toolbar-buttons {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
}

.sign-button.btn.btn-Light {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.btn.btn-Light:not(:disabled):not(.disabled).active,
.btn.btn-Light:not(:disabled):not(.disabled):active,
.show > .btn.btn-Light.dropdown-toggle {
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}

.btn.btn-Light {
  border: 1px solid rgb(207, 207, 207);
  font-size: 14px;
  text-align: center;
  padding: 4px 15px 4px 15px;
  text-align: left;
  margin: 5px;
  margin-bottom: 10px !important;
}

.below-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.privacy-link {
  color: white;
  padding-right: 40px;
}

.copytext {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.not-homepage {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output-card {
  margin-bottom: 20px;
}

#lol {
  margin: 0 auto;
}

.dropdown-item {
  cursor: pointer;
  text-decoration: none;
  display: block;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: small;
}

.dropdown-item:hover {
  background-color: #ececec;
}

.dropdown-menu.show {
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  text-align: left;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  right: auto;
  bottom: auto;
  position: absolute;
  top: 0px !important;
  left: 0px;
  margin: 0px;
  right: auto;
  bottom: auto !important;
  transform: translate(5px, 36px) !important;
  /* transform: translate3d(0px, 335px, 0px)!important; */
}

.privacy-page {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.rbc-event {
  border: 0px solid gray !important;
}

.rbc-event-content {
  font-weight: bold;
}

.rbc-event-label {
  margin-bottom: -2px;
}

@media only screen and (max-device-width: 850px) {
  /* .not-homepage {
    height: 50vh;
  } */
  .privacy-page {
    width: unset;
  }

  .btn.btn-Light {
    padding: 5px 2px 5px 2px;
  }

  .dropdown-item {
    margin: 0 auto;
    width: 80px;
  }

  .dropdown-menu.show {
    width: 80px;
  }

  .dropdown-menu.show {
    min-width: fit-content;
  }

  .App-border {
    height: auto;
  }

  .aboutpage {
    height: 50vh;
  }

  .Body {
    padding: 20px 20px 0px 20px;
  }

  .peep1 {
    padding: 0px;
  }

  .peep2 {
    padding: 0px;
  }
}

@media only screen and (max-device-width: 480px) {
  .peep1 {
    display: none;
  }

  .peep2 {
    display: none;
  }
}
