.App {
  /* padding: 0px 40px 0px 40px; */
  text-align: center;
  background-color: white;
}
.App-border {
  background-color: black;
  padding: 20px;
}

.Body {
  padding: 40px 40px 0px 40px;
}

.peep1 {
  float: left;
  height: 400px;
  /* padding-top: 40px; */
  padding-left: 40px;
}

.peep2 {
  float: right;
  height: 400px;
  padding-right: 40px;
}

.textbox {
  visibility: hidden;
}

@media only screen and (max-device-width: 480px) {
  .peep1 {
      visibility: hidden;
  }
  .peep2 {
    visibility: hidden;
  }
}

.toolbar-buttons {
  /* top: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  float: right
}

h1.title {
  display: inline-block;
  font-family: "DM Serif Display", sans-serif;
  font-size: 50px;
  padding: 0px;
  color: black;
}

h3.title {
  display: inline-block;
  font-family: "DM Serif Display", sans-serif;
  font-size: 30px;
  padding: 0px;
  margin-bottom: 0px;
}

.footer {
  color: white;
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}

.below-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: -20px; */
  padding-top: 60px;
}

.privacy-link {
  color: white;
  /* float: right; */
  padding-right: 40px;
}

.otherbody {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70vh;
}